@model HTFood.Models.ViTriGiaoHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ViTriGiaoHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenVT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenVT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaVT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
