
@using Microsoft.AspNet.Identity.EntityFramework;

@model IEnumerable<IdentityRole>

@{

    ViewBag.Title = "Quản lý quyền hạn người dùng";

     Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin1.cshtml";

}
<title>Quản lý quyền hạn</title>

<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
            <h2>Danh sách quyền</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
                <li class="breadcrumb-item active">Danh sách quyền hạn</li>
            </ul>
        </div>
    </div>
  
    <!--saassaas-->
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2> Tất cả quyền </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more-vert"></i> </a>
                            <ul class="dropdown-menu pull-right" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">

                            <h7>
                                @Html.ActionLink("Tạo role", "Create", null, new { @class = "btn btn-primary" })
                            </h7>

                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>ID</th>
                                    <th>Tên quyền</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>No.</th>
                                    <th>ID</th>
                                    <th>Tên quyền</th>
                                    <th>Thao tác</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model)
                                {

                                <tr>
                                    <td>@i</td>
                                    <td>@item.Id</td>

                                    <td>@item.Name</td>

                                  
                                    <td>@Html.ActionLink("Xóa", "Delete", new { id = item.Id })</td>
                     
                                 
                                </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/buttons/vendorscripts.bundle.js"></script>
<script src="~/assets/js/buttons/datatablescripts.bundle.js"></script>
<script src="~/assets/js/buttons/jquery-datatable.js"></script>

<script type="text/javascript" charset="utf8">
    $(document).ready(function () {
        setTimeout(function () {
            var listButton = $('.dataTables_length').find('button');
            listButton.each(function () {
                $(this).remove();
            });
        }, 500);
    });
</script>

